.project
.settings
.classpath
gwtbliss-shared/gwt-unitCache
gwtbliss-shared/target
gwtbliss-shared/war
gwtbliss-shared/www-test
gwtbliss-parent/target/
gwtbliss-example/target

*/target
*/war
*/gwt-unitCache
*/www-test

target

*.iml
.idea/
